*.class
*.log

# sbt specific
.classpath
.cache
.cache-main
.history
.project
.settings
.lib/
.temp/
bin/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
